NEXT_PUBLIC_VERSION=0.7.1
NEXT_PUBLIC_NAME=hashfrog_tracker

NEXT_PUBLIC_API_URL=http://127.0.0.1:3000

# The value should match the name of the target branch for the randomizer official repo
NEXT_PUBLIC_LOGIC_BRANCH=release
# The generator version is used for the parsing of the setting string
NEXT_PUBLIC_GENERATOR_VERSION=9.0.0
