.editor {
  margin-left: 1rem;
  border: 1px solid #ffff0050;
  width: 350px;
  padding: 1rem 0.5rem;
}

.noLayout {
  background-color: #333;
  padding: 2rem;
  margin: 0;
}

/** ************************************* */
/** General */
/** ************************************* */

.displayId {
  font-size: 0.7em;
  opacity: 0.75;
}

.buttonRow {
  display: flex;
}

.buttonRow > * {
  margin-right: 0.25rem;
}

.buttonRow button,
.buttonRow label {
  font-size: 0.85rem;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  background-color: #333;
  border-color: #222;
  border-style: solid;
  color: #fff;
  padding: 1px 6px;
}

.buttonRow button:disabled {
  opacity: 0.5;
}

/** ************************************* */
/** LayoutConfig */
/** ************************************* */

.layoutConfig {
  display: flex;
  flex-direction: column;
}

.layoutConfig > * {
  margin-bottom: 0.5rem;
}

.layoutConfig > *:last-child {
  margin-bottom: 0;
}

/** ************************************* */
/** componentsList */
/** ************************************* */

.componentsList {
}

.componentsList h5 {
  margin-bottom: 0.5rem;
}

.componentsList ul {
  padding: 0;
  list-style: none;
}

.componentsList ul li button {
  width: 100%;
  text-align: left;
}

/** ************************************* */
/** componentsList */
/** ************************************* */

.editorComponent {
}

.editorComponent input,
.editorComponent select {
  margin-bottom: 0.5rem;
}

.editorComponent ol {
  padding: 0 2rem;
}

.editorComponent ol li {
  font-size: 0.8em;
  cursor: pointer;
}