.checks button {
  background-color: #333;
  border-color: #222;
  border-style: solid;
  color: #fff;
}

.info {
  font-size: 0.75em;
  margin: 1rem 0;
}

.locations {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.locations_item {
  padding: 2px;
}

.locations_item button {
  width: 100%;
  aspect-ratio: 2/1;
}

.location {
  padding: 2px;
}

.buttons {
  padding: 2px;
}

.buttons button {
  margin-right: 0.25rem;
}

.buttons button:last-child {
  margin-right: 0;
}

.checks {
  padding: 0;
  list-style: none;
}

.check button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 2px;
}

.check button:disabled {
  opacity: 0.5;
  cursor: default;
}
