@font-face {
  font-family: "BPmono";
  src: url("./assets/fonts/bpmono.regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "BPmono";
  src: url("./assets/fonts/bpmono.bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  background-color: #000000;
  font-family: "BPmono", sans-serif;
  color: #fff;
  /* color: #ffff00; */
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-control label {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 0.25rem;
}

.form-control p {
  font-size: 0.85em;
}
